<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.DeviceInfo" version="3.2.3" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Angle" version="1.0.2.1" targetFramework="portable-net45+win+wpa81+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="Fody" version="1.29.4" targetFramework="portable45-net45+win8+wpa81" developmentDependency="true" />
  <package id="FreshMvvm" version="1.0.2.0002" targetFramework="portable45-net45+win8+wpa81" />
  <package id="OxyPlot.Core" version="1.0.0-unstable1983" targetFramework="portable45-net45+win8+wpa81" />
  <package id="OxyPlot.Xamarin.Forms" version="1.0.0-unstable1983" targetFramework="portable45-net45+win8+wpa81" />
  <package id="PropertyChanged.Fody" version="1.50.4" targetFramework="portable45-net45+win8+wpa81" developmentDependency="true" />
  <package id="SolarCalculator" version="1.0.8" targetFramework="portable-net45+win+wpa81+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="Xam.Plugin.Geolocator" version="3.0.4" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.Forms" version="2.1.0.6526" targetFramework="portable45-net45+win8+wpa81" />
</packages>